*,
::before,
::after {
	/*选中所有的元素和伪元素*/
	margin:0;
	padding:0;
	/*針對移動端*/
	box-sizing: border-box;
	/*主流浏览器移动端兼容*/
	-webkit-box-sizing: border-box;
	
	/*点击高亮效果清除*/
	-webkit-tap-highlight-color: transparent;
}

body{
	font-size: 16px;
	color: #333;
	font-family: 'Microsoft Yahei',sans-serif;
}

ul li{
	list-style: none;
}
