*{
	margin: 0 auto;
	padding: 0;
}
html {
    font-size: 32px;
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    html, body {
        font-size: 36px;
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
    html, body {
        font-size: 41.4px;
    }
}

@media screen and (min-width: 415px) and (max-width: 639px) {
    html, body {
        font-size: 54px;
    }
}

@media screen and (min-width: 640px) and (max-width: 719px) {
    html, body {
        font-size: 64px;
    }
}

@media screen and (min-width: 720px) and (max-width: 749px) {
    html, body {
        font-size: 72px;
    }
}

@media screen and (min-width: 750px) and (max-width: 799px) {
    html, body {
        font-size: 76.8px;
    }
}

@media screen and (min-width: 800px) {
    html, body {
        font-size: 80px
    }
}
body{
	font-family: .PingFangSC-Medium;
}
.page{
	width:100%;
	max-width: 768px;
}