/* CSS Document */

.Mbox { background:#FFFFFF; padding:10px; }
.Toptitle { height:105px; line-height:26px; }
.Toptitle tt { color:#3E3A39; display:block; font-size:14px }
.Toptitle span { color:#595959; font-size:12px; }
.Toptitle p { margin:0; color:#F44E5F; font-size:16px; }
.Toptitle button { display:block; height:30px; color:#FFFFFF; border:0; width:70px; font-size:14px; border-radius:3px; background:rgba(255,154,20,1.00);}
.Tick { clear:both; border-top:1px solid #E9E8E8; margin-top:5px; height:34px; }
.Tick .Tli { float:left; height:22px; padding:0 5px; margin-right:5px; line-height:22px; margin-top:6px; background:url(../img/tick_bg.png); background-size:100% 100%; font-size:12px; color:#898989; }
.Seattab { width:100%; margin-top:10px; background:#F4F3ED; }
.Seattab th { font-size:12px; color:#FFFFFF; background:#b5b5b5; width:10px; text-align:right; font-weight:normal; padding:0 3px; }
.Screen { width:188px; height:26px; line-height:26px; background:url(../img/screen_bg.png) no-repeat center center; text-align:center; background-size:188px; color:#FFFFFF; margin:0 auto 0 auto }
.Seat { width:14px; height:14px; background:url(../img/seat.png) no-repeat center center; background-size:12px; }
.Seat { width:22px; height:22px; background:url(../img/seat.png) no-repeat center center; background-size:20px; }
.Seat.Sold  { background-image:url(../img/seat_s.png) }
.Seat.Select  { background-image:url(../img/seat_slt.png) }
.Seat.Lovers { background-image:url(../img/seat_l.png) }
.Seattab .Xlin { width:50%; border-right:1px dashed #999999; position:absolute; margin-top:30px; pointer-events:none; }
.Seat.Big { width:16px; height:16px; background-size:16px; display:inline-block; margin-left:8px; vertical-align:text-bottom; margin-right:3px; }
.Seat.Big:first-child { margin-left:0; }
.Legend { font-size:12px; color:#898989; }
.Tips { background:rgba(10,153,255,.85); margin:250px auto; width:200px; padding:30px 0; color:#FFFFFF; font-size:12px; text-align:center; border-radius:5px; }
.Cover.F { background:rgba(0,0,0,0); }