/* CSS Document */
body { font-size:14px; margin:0; padding:0; }
body { background:#E8E8E8; }
ul , ol , li , dl , dt, dd, img { margin:0; padding:0; list-style:none; border:0; }
a:link , a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:visited { opacity:.8; }
.Fl { float:left; }
.Fr { float:right; }
.Clear { clear:both; }
.Pd10 { padding:10px; }
.Mt5 { margin-top:5px; }
.Mt10 { margin-top:10px; }
.Cover { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); }
.Fs_12 { font-size:12px; }
.Fs_14 { font-size:14px; }
.Fs_16 { font-size:16px; }

.Fc_black { color:#000000; }
.Fc_yellow { color:#FF9A14; }
.Fc_blue { color:#0A99FF; }
.Fc_grey { color:#595959; }
.Fc_white { color:#FFFFFF; }
.Fc_red { color:#F44E5F; }
.Fc_green { color:#42BD41;}

.Topbar {  width:100%; height:30px; line-height:30px; background:#4A86DE; font-size:12px; text-align:center; color:#FFFFFF; position:fixed; left:0; top:0; }
.Back { width:20px; height:30px; float:left; margin-left:10px; background:url(../img/back_ico.png) no-repeat left center; background-size:8px; }
.Operation { float:right; height:30px; line-height:30px; margin-right:10px; }
.Occupying { height:30px; }
.H50 { height:50px; }

.Ico { display:inline-block; box-sizing:border-box; margin-left:3px; width:14px; height:14px; color:#FFFFFF; text-align:center; line-height:14px; border-radius:3px; vertical-align:text-top; font-style:normal; font-size:12px; }
.Ico.New { background:#FF9A14; }
.Ico.New:before { content:"新"; }
.Ico.Threed { background:#42BD41; }
.Ico.Threed:before { content:"3D"; }
.Ico.Imax { background:url(../img/imax.png); width:35px; background-size:35px; }
.Ico.Giant { background:url(../img/jumu.png); width:23px; background-size:23px; }
.Ico.W { background:#FFFFFF; color:#000000; }
.Ico.Imax.W  { background:url(../img/imaxw.png); background-size:35px; }
.Ico.Giant.W  { background:url(../img/jumuw.png); background-size:23px; }
.More { height:20px; line-height:20px; background:#FFFFFF; text-align:center; font-size:12px; color:#595959; border-bottom:1px solid #E9E8E8;  }
.More i { display:inline-block; width:8px; height:8px; background:url(../img/v_ico.png) no-repeat center center;; background-size:8px; margin-left:5px; }
.More i.Tr180 { -webkit-transform:rotate(-180deg); transform:rotate(-180deg);}
.Title { height:34px;  border-bottom:1px solid #E9E8E8; padding:0 10px 0 26px; line-height:34px; color:#595959; font-size:12px; background:url(../img/title_ico.png) no-repeat 10px center #FFFFFF; background-size:10px; }
.Search { float:right; padding:0 10px 0 14px; background:url(../img/search_ico.png) no-repeat left center; background-size:10px; }