@charset "utf-8";
html {
  font-size: 20px;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
	padding: 0;
	margin: 0 auto;
	box-sizing:border-box;
}
body{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
img{
	border: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.clearfix:after{ 
	content:"";
	display:block;
	clear:both;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
input {
	-webkit-appearance:none; /*去除input默认样式*/
	outline: none; /*去除input轮廓的颜色*/
}

.page{
	min-width: 320px;
	max-width: 640px;
}
