.container{
	width: 100%;
	/*
	   640 和设计稿的大小有关
	   psd图的 640px大小的设计稿 750px 的设计稿
	   640px 宽度是早起的参考标准， 标准参考设备iphone4， 
	               像素比1:2， 640px的压缩至320px才能在高清屏上完美显示
	   750px 是现在主流标准， 参考标准iphone6， iphone6宽度375px，屏幕像素比为2
	           （旧版的chrome浏览器上会展示像素比）；
	           
	*/
	max-width: 640px;/*640 基于设计稿，不失真*/
	min-width: 320px;/*320 保证网页内容的布局*/
	margin: 0 auto;
}