body{
	background: #f5f5f5;/*设置灰色背景*/
}
.container{
	width: 100%;
	/*
	   640 和设计稿的大小有关
	   psd图的 640px大小的设计稿 750px 的设计稿
	   640px 宽度是早起的参考标准， 标准参考设备iphone4， 
	               像素比1:2， 640px的压缩至320px才能在高清屏上完美显示
	   750px 是现在主流标准， 参考标准iphone6， iphone6宽度375px，屏幕像素比为2
	           （旧版的chrome浏览器上会展示像素比）；
	           
	*/
	max-width: 640px;/*640 基于设计稿，不失真*/
	min-width: 320px;/*320 保证网页内容的布局*/
	margin: 0 auto;
}

/*搜索框*/
.search{
	position: fixed;/*fixed是基于浏览器宽度定位的， 内容有多宽，元素就有多宽，margin不起作用*/
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999;/*避免搜索框被遮盖*/
}

.search .search_box{
	width: 100%;
	height: 40px;
	max-width: 640px;/*保持和基准版心容器一致*/
	min-width: 320px;
	background: rgba(216,80,92, 0);
	margin: 0 auto;
	position: relative;
}
.search .search_box a{
	position: absolute;/*需要在父元素中设置 position: reloative*/
	top: 0;
}
.search .search_box .icon_logo{
	width: 60px;
	height: 40px;
	left: 0;
	background: url("../images/top-jdlogo.png") no-repeat;
	background-size: 40px 40px;
}
.search .search_box .login{
	width: 50px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	right: 0px;
	color: #fff;
}
.search .search_box form{
	position: relative;
	width: 100%;
	padding-left: 60px;
	padding-right: 50px;
}
.search .search_box form input{
	width: 100%;/*百分比宽度 相对于父元素的内容宽度和高度*/
	height: 25px;
	border-radius: 10px;
	margin-top: 8px;
	padding-left: 30px;
}
.search .search_box form .icon_search{
	width: 20px;
	height: 20px;
	background: url("../images/search_icon.png") no-repeat;
	background-size: 20px 20px;
	position: absolute;
	left: 65px;
	top: 10px;
}

/*轮播图*/
.banner{
	width: 100%;
	overflow: hidden;/*banner图中超出最大宽度的内容将会被隐藏*/
	/* margin-top: 40px; *//*搜索框的高度*/
	position: relative;/*原点需要使用绝对定位， 父元素必须使用相对定位*/
}
.banner ul:first-child{
	width: 800%;/*一共要装8张图 ，是父元素的8倍*/
	transform: translateX(-12.5%);/*首先显示第一张图片*/
	-webkit-transform: translateX(-12.5%);/*兼容处理，适配更多浏览器*/ 
}
.banner ul:first-child li{
	width: 12.5%;/*一共8张图，每张图占12.5%*/
	float: left;
}
.banner ul:first-child li a{
	width: 100%;
	display: block;
}
.banner ul:first-child li a img{
	width: 100%;
	display: block;
}
/*注意： 宽度计算是相对于父元素来计算的*/

/*banner 圆点*/
.banner ul:last-child{
	position: absolute;
	bottom: 8px;/*定位到父元素的底部*/
	/*原点居中： 假设宽度75px（6个点，宽度6px;，间隔10px; 6x16-10）, 定位到正中间，然后向左偏移宽度的一半的距离*/
	width: 86px;
	left: 50%;
	margin-left: -43px;
}
.banner ul:last-child li{
	width: 6px;
	height: 6px;
	border: 1px solid #fff;/*白色边框*/
	border-radius: 3px;/*圆角显示*/
	float: left;/*显示到一排*/
	margin-left: 10px;/*间距*/
}
/*第一个点不用偏移*/
.banner ul:last-child li:first-child{
	margin-left: 0;
}
/*被选中的点显示实体*/
.banner ul:last-child li.now{
	background: #fff;
}
/*导航栏*/
/*导航栏 375x0是怎么回事, 因为里面的ul没有清除浮动，没有高度高度，导致父元素也就没有高度*/
.nav{
	width: 100%;
	background: url("../images/nav_bg.jpg") no-repeat;
	background-size: 100% auto;/*背景图片宽度*
	/* background: #fff; *//*没有背景图片时，可能需要设置成白色*/
}

/*ul 也没有高度*/
.nav ul{
	width: 100%;
	border-bottom: 1px solid #ccc;/*ul下灰色边框*/
}
.nav ul li{
	width: 20%;
	float: left;
	margin-top: 5px;
}
.nav ul li a{
	display: block;
	width: 100%;
}
.nav ul li a img{
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.nav ul li a p{
	color:#ffffff;
	font-size: 12px;
	padding: 5px 0;
	text-align: center;
}


/*商品列表*/
.product{
	width: 100%;
	padding: 0 5px;
}
.product .pro_box{
	width: 100%;
	min-height: 200px;
	margin-top: 10px;
	background: #fff;
	/*给盒子加阴影*/
	box-shadow: 0 0 10px red;/*上下0偏移 1px的模糊度 颜色 red*/
}
.product .pro_box .pro_tittle{
	width: 100%;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #ccc;
}
.product .pro_box .pro_tittle h3{
	position: relative;
	font-weight: normal; /*原始样式*/
	text-indent: 20px; /*缩进20px*/
}

/*短竖线*/
.product .pro_box .pro_tittle h3:before{
	content: "";/*伪元素为什么要加 content:""*/
	display: block;
	width: 3px;
	height: 12px;
	background: red;
	position: absolute;
	top: 11px;
	left: 5px;
}

/*取消边框nb no border*/
.product .pro_box .nb{
	border-bottom: none;
}
.product .pro_box .pro_content{
	width: 100%;
}

.sk_icon{
	display: block;
	width: 16px;
	height: 20px;
	background: url("../images/sk_icon.png") no-repeat;
	background-size: 16px 20px;
	float: left;
	margin-left: 5px;
	margin-top: 6px;
}
.sk_text{
	float: left;
	margin-left: 5px;
	font-size: 16px;
}
.sk_time{
	float: left;
	margin-left: 5px;
}

.sk_time span{
	width: 16px;
	height: 16px;
	text-align: center;
	background: black;
	color: #fff;
}

.sk_time span:nth-child(3n){
	background: #fff;
	color: black;
	margin: 0 5px;
}

/*秒杀商品*/
.sk_product{
	width: 100%;
	padding: 10px 0;
}
.sk_product li{
    float: left;
    width: 33.3333%;
}
.sk_product li a{
	width: 100%;
	display: block;
	border-right: 1px solid #ddd;
}

/*最后一个li取消边框*/
.sk_product li:last-child a{
	border-right: none;
}
.sk_product li a img{
	width: 60%;
	margin: 0 auto;/*让商品居中显示*/
	display: block;/*让商品居中显示*/
}

.sk_product li p{
	text-align: center;
	margin-top: 5px;
}

.sk_product li .now_price{
	color: red;
}
.sk_product li .old_price{
	color: #666;
	text-decoration: line-through;
	margin-bottom: 5px;
}

/*组合样式*/
.w_p50{
	width: 50%;
}
.w_p50 img{
	display:block;
	width: 100%;
}
.b_right{
	border-right: 1px solid #ddd;
}
.b_left{
	border-left: 1px solid #ddd;
}
.b_bottom{
	border-bottom: 1px solid #ddd;
}
